* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: lightgray;
}

header h1 {
    text-align: right;
    padding: 30px;
    font-family: 'Knewave', cursive;
    font-size: 50px;
}

figure img {
    display: inline;
    width: 100%;
}

main {
    background-color: rgb(255, 237, 243);
}

h2 {
    font-family: 'Knewave', cursive;
}

aside {
    /* border-right: 3px solid black; */
    margin-top: 50px;
    margin-left: 50px;
}

.about-me {
    display: flex;
    border-color: rgb(255, 237, 243);
}

.about-me p {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin-left: 50px;
    background-color: rgb(255, 237, 243);
}

.work {
    display: flex;
    margin-top: 50px;
}

.container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 75px;
    background-color: rgb(255, 237, 243);
}

.container h3 {
    display: flex;
    text-decoration: none;
}

#project {
    position: relative;
    outline: 3px solid black;
    width: 500px;
    height: 200px;
    margin: 20px;
}

#project:hover {
    background-color: grey;
    opacity: 0.7
}

.contact-me {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.contact-me ul li {
    display: inline-block;
    padding: 50px;
}

.contact-me ul {
    display: flex;
}