* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: grey;
    height: 130px;
}

header h1 {
    line-height: 45px;
    background-color: pink;
    padding: 15px 30px 15px 100px;
    display: inline;
    float: left;
}

nav {
    background-color: grey;
    padding: 30px;
    padding-left: 500px;
    margin: 15px;
    float: right;
    scroll-behavior: smooth;
}

nav a {
    color: pink;
    padding: 30px 25px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

figure img {
    display: inline;
    width: 100%;
}

/* figure p {
    display: inline;
    position: absolute;
    top: 375px;
    right: 125px;
    background-color: pink;
    padding: 15px;
    font-size: 25px;
} */

aside {
    /* border-right: 3px solid black; */
    margin-left: 50px;
}

.about-me {
    display: flex;
    margin-top: 50px;
}

.about-me p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin-left: 50px;
}

.work {
    display: flex;
    margin-top: 50px;
}

.container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 75px;
}

.container h3 {
    display: flex;
}

/* .container p {
    display: inline;
    position: absolute;
    top: 125px;
    left: 50px;
} */

/* .container img {
    display: inline;
    border: 10px solid pink;
    margin: 10px;
} */

#project {
    position: relative;
    outline: 3px solid black;
    width: 400px;
    height: 200px;
    margin: 20px;
}

.img {
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/001/218/845/non_2x/colorful-holographic-gradient-background-design-vector.jpg");
*/
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#project:hover {
    background-color: grey;
    opacity: 0.7
}

.contact-me {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.contact-me ul li {
    display: inline;
    padding: 50px;
}

.contact-me ul {
    display: flex;
}